
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@400;900&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
}
/*===================================
        about as
=====================================*/

.about{
    background-image: url(../img/aboutimg/first.jpg);
    background-repeat: no-repeat;
    background-position: center;
  /*  margin-top: 40px;*/
    width: 100%;
    height: 100vh;
}   
.about-title{
    color: #FEFCF7;
    width: 39%;
   padding-top: 85px;
    margin: 0 9px 7px 0;
}
.about-title h2{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 4rem;
}
.about-title p{
    font-family: 'Barlow';
    font-size: 1.4rem;
    line-height: 2rem;   
}
/*=============================
  our commitment
==============================*/
.commitment .row{
  flex-direction: row;
  
}
.commitment-img{
    width: 49%;
}
.commitment-img img{
    width: 100%;
}
.commitment-text{
    width: 51%;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 80px;
}
.commitment-text p{
    font-family: 'Barlow';
    font-size: 1.3rem;
    line-height: 2rem;
    color: #333D4B;
    opacity: 0.8;
}
.commitment-text h3{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 2.1rem;
    color: #333D4B;
}
/*===============================
       uncompromis
================================*/
.uncompromis{
    margin-top: 50px;
}
.uncompromis .container{
    background-image: url(../img/aboutimg/uncompromissing.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 90%;
}
.uncompromis .row{
    flex-direction: row;
}
.uncompromis-img{
    width: 40%;
    position: absolute;
    left: 58%;
    top: -15%;
}
.uncompromis img{
    width: 93%;
    height: 92%;
}
.un-title-helper{
    width: 57%;
    padding: 57px 0px 67px 40px;
}
.about-title h3{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-top: 0;
}
.about-p{
    opacity: 0.8;
    width: 597px;
    font-size: 1.1rem;
    line-height: 2rem;
}